/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* common style  */
*{
    margin: none;
    padding: none;
}
/* Banner style */
header{
    width: 100%;
    height: 100vh;
    background-color: red;


}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 100px;
}
.banner-description{
    color: white;
    padding-left: 20%;
}
.banner-description h1{
    font-size: 4em;
}
.banner-description p{
    font-size: 16px;

}
button{
    background-color: #DD0000;
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
button i{
    padding-left: 5px;
    font-size: 16px;
}
.banner-image{
    padding-left: 200px;
}
.banner-image img{
    width: 580px;
    height: 615px;
}
/* main style  */
main{
    display: flex;
    margin: 100px;
}
.container-option{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 312px;
    width: 312px;
}
.container-option a{
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.container-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.blog{
    border: rgb(191, 186, 186) solid 3px;
    border-radius: 20px;
    margin-left: 50px;

}
.blog img{
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-info span{
    border: solid  rgb(191, 186, 186) 3px;
    padding: 5px;
    border-radius: 5px;
}
#blog{
    background-color: #DD0000;
    color: white;
}
/* Start footer  */
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    width: 1600px;
    height: 444px;
}
hr{
    margin: 100px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
/* Upcoming match pages styles here  */
.upcoming-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin-left: 100px;
}
.match{
    border: rgb(191, 186, 186) solid 3px;
    padding: 30px;
    border-radius: 20px;
}
.flag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}